# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text diff=python

# Documentation
*.md text diff=markdown
*.txt text

# JSON files
*.json text

# Exclude from language stats
tests/* linguist-documentation

# Binary files
*.wav binary
*.mp3 binary
*.mid binary 